@import url(https://fonts.googleapis.com/css?family=Orbitron);

body {
    background-color: black;
    color: rgb(253, 238, 238);
    font-style: italic;
  
    font-family: 'Orbitron', courier, sans-serif;
    text-shadow: 0 0 0 transparent, 0 0 10px #ef00ff7a, 0 0 20px #ef00ff59, 0 0 40px #ef00ff59, 0 0 100px #ef00ff, 0 0 200px #ef00ff, 0 0 300px #ef00ff66, 0 0 500px #ef00ff, 0 0 1000px #ef00ffad;
  
}
#clock-display{-webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;}
@-webkit-keyframes blink {
 
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }}
    #but{
      width: 100%;
    }
    button{
      font-family: 'Orbitron', courier, sans-serif;

      background-color: #00000070; /* Green */
     border-radius: 3px;
      color: white;
   border: 10px  #c1ffa4, 0 0 1000px #1b7006ad;
    shadow 
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      text-shadow: 0 0 0 transparent, 0 0 10px #ef00ff7a, 0 0 20px #ef00ff59, 0 0 40px #ef00ff59, 0 0 100px #ef00ff, 0 0 200px #ef00ff, 0 0 300px #ef00ff66, 0 0 500px #ef00ff, 0 0 1000px #ef00ffad;
    }
    button:hover {
      color: #051606;
      background: #8032e6;
      box-shadow: 0 0 10px #ef00ff7a, 0 0 40px #ef00ff59, 0 0 80px #ef00ff;
      transition-delay: 1s;
      font-style: italic;

  }
  p{
    font-size:3rem
  }
  select {
    background-color: black;
    color: white;
    font-family: 'Orbitron', courier, sans-serif;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    
  }
  @media only screen and (max-width: 400px) {

  select {
    
    width: 80%;
  }
}