@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&display=swap');
body {
    background-color: black;
    color: rgb(219, 255, 213);
   
  
   
    font-family: 'VT323', monospace;  
      text-shadow: 0 0 0 transparent, 0 0 10px #88ff007a, 0 0 20px #4ddd33c9, 0 0 40px #84df1b59, 0 0 100px #f1ffd6, 0 0 200px #7cff92, 0 0 300px #04770066, 0 0 500px #c1ffa4, 0 0 1000px #1b7006ad;
  
}
#clock-display{-webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;}
@-webkit-keyframes blink {
 
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }}
  button{
    background-color: #00000070; /* Green */
   border-radius: 3px;
    color: white;
 border: 10px  #c1ffa4, 0 0 1000px #1b7006ad;
  shadow 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'VT323', monospace;  
  }
  button:hover {
    color: #051606;
    background: #25f347;
    box-shadow: 0 0 10px #1b7006ad, 0 0 40px #86e06fad, 0 0 80px #21f34f;
    transition-delay: 1s;
    
}
p{
  font-size:4rem
}

select {
  background-color: black;
  color: white;
  font-family: 'VT323', monospace;   border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  
}
@media only screen and (max-width: 400px) {

select {
  
  width: 80%;
}
}